{% extends 'base.html' %}

{% block title %}Liste des Services{% endblock %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert 
                {% if message.tags == 'success' %}alert-success
                {% elif message.tags == 'info' %}alert-info
                {% elif message.tags == 'warning' %}alert-warning
                {% elif message.tags == 'error' %}alert-danger
                {% endif %} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}

    <h1 class="mb-4">Liste des Services</h1>
    

    <a href="{% url "ajouter_service" %}" class="btn btn-primary mb-3">Ajouter un Service</a>

 
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for service in services %}
                <tr>
                    <td>{{ service.nom }} </td>
                    <td>{{ service.description }}</td>
                    <td>
                        <!-- Détail de l'employé -->
                        <a href="{% url 'detail_service' service.id %}" class="btn btn-info btn-sm">Détails</a>

                        <a href="{% url 'modifier_service' service.id %}" class="btn btn-warning btn-sm">Éditer</a>
                        
                        <!-- Supprimer l'employé (si vous ajoutez une fonctionnalité de suppression) -->
                        <a href="{% url "supprimer_service" service.id %}" class="btn btn-danger btn-sm">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
